<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Olympic Games 1976-2016</title>
  </head>
  <body>
    <div>
      <div>
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >&times;</a
          >
          <a href="/">Home</a>
          <a href="/map">Map</a>
          <a href="/gender">Gender Line Chart</a>
          <a href="/pie">Gender Pie Chart</a>
          <a href="/events">Events</a>
          <a href="/datatable">Data</a>
        </div>
        <div id="main">
          <nav class="navbar navbar-dark" style="background-color: #e62e00">
            <button class="openbtn" onclick="openNav()">&#9776;</button>
            <a class="navbar-brand" href="/">
              <img
                src="https://pbs.twimg.com/profile_images/573245641846988800/p1_68JCY.png"
                width="30"
                height="30"
                alt=""
                loading="lazy"
              />
            </a>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <form>
                  <label>medal</label>
                  <input
                    id="medal"
                    type="text"
                    aria-label="medal"
                    class="form-control"
                    placeholder="enter medal"
                  />
                  <label>name</label>
                  <input
                    id="name"
                    type="text"
                    aria-label="name"
                    class="form-control"
                    placeholder="enter name"
                  />
                  <label>nationality</label>
                  <input
                    id="nationality"
                    type="text"
                    aria-label="nationality"
                    class="form-control"
                    placeholder="enter nationality"
                  />
                  <label>sex</label>
                  <input
                    id="sex"
                    type="text"
                    aria-label="sex"
                    class="form-control"
                    placeholder="enter gender"
                  />
                  <label>sport</label>
                  <input
                    id="sport"
                    type="text"
                    aria-label="sport"
                    class="form-control"
                    placeholder="enter sport"
                  />
                  <label>year</label>
                  <input
                    id="year"
                    type="text"
                    aria-label="year"
                    class="form-control"
                    placeholder="enter year"
                  />
                  <button id="filter-btn" type="button" class="btn btn-default">
                    Filter Table
                  </button>
                </form>
              </div>
            </div>
          </aside>
        </div>

        <div class="container" style="text-align: center">
          <div class="col-md-10">
            <hr />
            <h1 class="dataHead">Data from the Olympics between 1976-2016.</h1>
            <h2 class="dataSub">(excluding 1980 & 2012)</h2>
            <hr />
            <p>The table below is the data used throughout the other pages.</p>
            <br />
            <div id="table-area" class="">
              <table id="data-table" class="table table-striped">
                <thead>
                  <tr>
                    <th class="table-head">medal</th>
                    <th class="table-head">name</th>
                    <th class="table-head">nationality</th>
                    <th class="table-head">sex</th>
                    <th class="table-head">sport</th>
                    <th class="table-head">year</th>
                    <!-- <th class="table-head">Comments</th> -->
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <script src="/static/js/sidebar.js"></script>
  </body>
</html>
